body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
body, html {
  height: 100%;
  line-height: 1.8;
}

.meals-nav, .drinks-nav {
  margin-top: 70px;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/images/food-backg.jpeg");
  min-height: 100%;
  height: 100vh;
}
.w3-bar .w3-button {
  padding: 16px;
}
