<%= erb(:'partials/drinks-nav') %>

<h1>Your Restaurant's Drinks Menu!</h1>

<% @drinks.each do |drink| %>
  <div>
    <h3><a href="/drinks/<%= drink.id %>"><%= drink.title %> <i class="fa fa-glass"></i></a></h3>
    <p><%= drink.description %></p>
  </div>
<% end %>
