<%= erb(:'partials/meals-nav') %>

<h1>Your Restaurant's Meals Menu!</h1>

<% @meals.each do |meal| %>
  <div>
    <h3><a href="/meals/<%= meal.id %>"><%= meal.title %> <i class="fa fa-cutlery"></i></a></h3>
    <p><%= meal.description %></p>
  </div>
<% end %>
