<h1>YumTree Homepage!</h1>

<p>Welcome to YumTree - all things food and drink that make your tum go yum!</p>

<h3>INSPIRATIONAL QUOTE of the DAY:</h3>
<p>"Don't decrease the goal, increase the effort."</p>

<img src="https://image.freepik.com/vector-gratis/logotipo-de-escudo-de-corona-de-leon_7688-161.jpg" alt="">
<p>Put an image here</p>

<p>Now that you have logged in, why not view the meals and drinks that you have uploaded to your very own cloud cafe?</p>

<div class="">
  <a href="/drinks">
    <h3>DRINKS</h3>
  </a>
</div>

<div class="">
  <a href="/meals">
    <h3>MEALS</h3>
  </a>
</div>
